Ans 1

A database is an organized collection of structured data that is stored and managed in a computer system. It provides a way to store, retrieve, update, and manage data efficiently. Databases are widely used in various applications and systems to handle large amounts of information.

SQL (Structured Query Language) and NoSQL (Not only SQL) are two different types of database management systems.

SQL databases are based on the relational model and use structured query language (SQL) for defining and manipulating the data. They have predefined schemas and use tables to store data in rows and columns. SQL databases are typically good for complex queries and transactions, and they ensure data consistency and integrity. Examples of SQL databases are MySQL, Oracle, PostgreSQL, and SQL Server.

NoSQL databases, on the other hand, are non-relational databases that provide a flexible schema for storing and retrieving data. They are designed to handle large amounts of unstructured and semi-structured data. NoSQL databases are horizontally scalable, meaning they can handle a high volume of traffic and data. They are commonly used in applications where data is rapidly changing or unstructured. Examples of NoSQL databases include MongoDB, Cassandra, Redis, and CouchDB.

The choice between SQL and NoSQL databases depends on the specific requirements of the application, scalability needs, data structure, and the nature of data being stored.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language) is a subset of SQL used for defining and managing the structure of a database. DDL statements are used to create, modify, and delete database objects such as tables, indexes, views, and schemas.

Examples

CREATE TABLE Employees (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    salary DECIMAL(10, 2)
);

DROP TABLE Employees;

ALTER TABLE Employees
ADD COLUMN age INT;

TRUNCATE TABLE Employees;

Q3

DML (Data Manipulation Language) is a subset of SQL used for managing the data within a database. DML statements are used to insert, update, and delete records in database tables.

INSERT INTO Employees (id, name, salary)
VALUES (1, 'John Doe', 5000);

DELETE FROM Employees
WHERE id = 1;

UPDATE Employees
SET salary = 6000
WHERE id = 1;

Q4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language) is a subset of SQL used for querying and retrieving data from a database. The most commonly used DQL statement is SELECT, which allows you to retrieve data based on specified criteria.

The SELECT statement retrieves data from one or more tables and returns a result set. It allows you to specify columns, filter rows based on conditions, sort the result, and perform other operations.

For example, to select all employees from the "Employees" table who have a salary greater than 5000, you can use the following SQL statement:


SELECT * FROM Employees WHERE salary > 5000;

Q5. Explain Primary Key and Foreign Key.

Primary Key: A primary key is a column or a set of columns in a table that uniquely identifies each row in that table. It provides a way to ensure data integrity and enforce entity integrity constraints. Each primary key value must be unique and not null. Typically, a primary key is chosen from one or more columns that have unique values and can uniquely identify a record. For example, in an "Employees" table, the "id" column can be designated as the primary key if it satisfies the uniqueness and not null requirements.

Foreign Key: A foreign key is a column or a set of columns in a table that refers to the primary key of another table. It establishes a relationship between two tables, known as a parent-child relationship. The foreign key constraint ensures referential integrity, meaning that the values in the foreign key column(s) must match the values in the primary key column(s) of the referenced table. This constraint helps maintain data consistency and allows the enforcement of relational integrity rules. For example, in an "Orders" table, there might be a foreign key column called "customer_id" that references the primary key "id" column in the "Customers" table, indicating which customer placed the order

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

To connect MySQL to Python, you can use the mysql-connector-python library. First, make sure you have the library installed by running pip install mysql-connector-python in your Python environment. Here's an example code snippet that demonstrates the connection and basic usage:

import mysql.connector

# Establishing a connection to the MySQL server
cnx = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database"
)

# Creating a cursor object to interact with the database
cursor = cnx.cursor()

# Executing an SQL query using the execute() method
query = "SELECT * FROM Employees"
cursor.execute(query)

# Fetching the result set using the fetchall() method
result = cursor.fetchall()

# Printing the result
for row in result:
    print(row)

# Closing the cursor and connection
cursor.close()
cnx.close()