# ANSWER  1

In [2]:
import pandas as pd

In [4]:
data = 4, 8, 15, 16, 23, 42
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# ANSWER 2

In [6]:
list = [1,2,3,4,5,6,7,8,9,10]
series = pd.Series(list)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

# ANSWER 3

In [9]:
import pandas as pd

data = {'Name':  ['Alice', 'Bob', 'Claire'],
        'Age': ['25', '30', '27'],
        'Gender' :['Female' , 'Male' , 'Female']
        }

df = pd.DataFrame(data)

print(df)

     Name Age  Gender
0   Alice  25  Female
1     Bob  30    Male
2  Claire  27  Female

# ANSWER 4

In Pandas, a DataFrame is a two-dimensional labeled data structure that consists of rows and columns.
Dataframe is the collection of multiple datas in form of rows and columns.
Above example is the example of the dataframe.

In [10]:
type(df)

pandas.core.frame.DataFrame

# ANSWER 5

describe() = count, mean, standard deviation, minimum, maximum, for numerical data only
head() and tail(): These functions allow you to view the first few rows (head()) or the last few rows (tail()) of a DataFrame. They are useful for quickly inspecting the data.
drop(): This function is used to remove rows or columns from a DataFrame. It is useful when you want to eliminate unnecessary or redundant data

# ANSWER 6

Dataframae is mutable in nature , we can add or remove the row or column as per our needs.

# ANSWER  7

In [11]:
import pandas as pd

# Creating Series objects
name_series = pd.Series(['John', 'Jane', 'Mike'])
age_series = pd.Series([25, 30, 28])
city_series = pd.Series(['New York', 'London', 'Paris'])

# Creating a DataFrame using the Series
data = {'Name': name_series, 'Age': age_series, 'City': city_series}
df = pd.DataFrame(data)

# Printing the DataFrame
print(df)

   Name  Age      City
0  John   25  New York
1  Jane   30    London
2  Mike   28     Paris

In [12]:
type(df)

pandas.core.frame.DataFrame